body {
    background-color: yellow;
  }
  h1 {
    color: blue;
    margin-left: 500px;
  }
  h2 {
       color: blue;
       font-size: 30px;
       size: 12px;
  }
  h3 {
    color: blue;
    font-size: 30px;
    size: 12px;
}
h4 {
    color: blue;
    font-size: 20px;
    size: 12px;
}
h5 {
    color: blue;
    font-size: 20px;
    size: 12px;
}
h6 {
    color: blue;
    font-size: 15px;
    size: 12px;
}
#result-name
{
    color:purple
}
#result-surname
{
    color:purple;
}
#sector{
    color: black;
}
#news{
    color: black;
}
#about{
    color: black;
}
.fs{
    font-size: x-large;
    padding: 32px 16px;
    border-radius: 50%;
    border: 1px solid rgb(255, 0, 13);
    background-color: springgreen;
}

.ts{
    font-size: x-large;
    padding: 32px 16px;
    position: relative;
    bottom: 300px;
    top:1px;
    left: 1110px;
    border-radius: 50%;
    border: 1px solid rgb(255, 0, 0);
    background-color: springgreen;
}

